<strong>Password recovery</strong>

<p>A password recovery was requested({{ email }}). If you didn't requested it, better change it anyway</p>

<p>To continue the password recovery use the token {{ token }} or click on the link below.</p>

<a href="{{ link }}">Set new password</a>
